<a href="https://colab.research.google.com/github/lovgon/stepik-fast-start_to_AI/blob/main/1_4_model_selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Курс "Быстрый старт в искусственный интеллект"**

**Неделя 1. Машинное обучение**

**1.4. Выбор оптимальной модели**

В этом семинаре мы потренируемся в обучении, оценке и валидации моделей, подборе оптимальных гиперпараметров. Мы будем решать задачу бинарной классификации, а именно, построим алгоритм, определяющий, превысит ли средний заработок человека порог $50000 в год.

В качестве метрики мы будем использовать известную нам метрику ROC-AUC

# Загрузка и обработка надора данных

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data')

# назначаем имена колонок
columns = (
    'age workclass fnlwgt education educ-num marital-status occupation relationship '
    'race sex capital-gain capital-loss hours-per-week native-country salary'
)

numeric_indices = np.array([0, 2, 4, 10, 11, 12])
categorical_indices = np.array([1, 3, 5, 6, 7, 8, 9, 13])

df.columns = columns.split() #этот метод разделит датасет по колонкам, как в массиве columns

df = df.replace('?', np.nan)

df = df.dropna()

df['salary'] = df['salary'].apply((lambda x: x==' >50K')) # Будем предсказывать 1 (True), если зарплата больше 50K, 0 (False) иначе

In [4]:
numeric_data = df[df.columns[numeric_indices]]
categorical_data = df[df.columns[categorical_indices]]

categorical_data.head()

           workclass   education  ...      sex  native-country
0   Self-emp-not-inc   Bachelors  ...     Male   United-States
1            Private     HS-grad  ...     Male   United-States
2            Private        11th  ...     Male   United-States
3            Private   Bachelors  ...   Female            Cuba
4            Private     Masters  ...   Female   United-States

[5 rows x 8 columns]

# One-hot кодирование

In [5]:
dummy_features = pd.get_dummies(categorical_data)

In [6]:
X = pd.concat([numeric_data, dummy_features], axis=1)
X.head()

   age  fnlwgt  ...  native-country_ Vietnam  native-country_ Yugoslavia
0   50   83311  ...                        0                           0
1   38  215646  ...                        0                           0
2   53  234721  ...                        0                           0
3   28  338409  ...                        0                           0
4   37  284582  ...                        0                           0

[5 rows x 108 columns]

In [7]:
y = df['salary']
y.mean()

0.24081695331695332

# Разбиение данных на train и test

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X.values, y.values, train_size=0.8)

# Нормировка данных

In [11]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Логистическая регрессия

In [27]:
from sklearn.linear_model import LogisticRegression

In [28]:
model = LogisticRegression().fit(X_train, y_train)
plot_roc_curve(model, X_train, X_test, y_train, y_test)

ValueError: ignored